<!-- Use Google's WebFontLoader to load required fonts asynchronously. -->
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFont.load({
        classes: true,
        events: false,
        timeout: 1000,
        google: {
            families: ['Merriweather Sans', 'Merriweather:300']
        }
    });
    // families: ['Libre Baskerville', 'Alegreya SC', 'Work Sans', 'Merriweather', 'Merriweather Sans', 'Montserrat', 'Playfair Display', 'Rufina', "Rubik", "Ubuntu", "Imprima", "Spectral:400,600,600i,700", 'Open Sans:400,400i']
</script>