{{ partial "head" . }}

<main role="main">
    <div class="container" role="feed">
        {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
        {{ range sort .Paginator.Pages }}
            <article role="listitem" class="post-summary">
                <header>
                    <h1><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
                    <time role="" class="time is-6">Posted on {{ .Date.Format "January 2, 2006" }}</time>
                </header>
                <div class="content">
                    {{ .Summary | plainify | safeHTML }}
                    {{ if .Truncated }}
                        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
                            Read more
                        </a>
                    {{ end }}
                </div>
            </article>
        {{ end }}
    </div>
</main>
        
{{ partial "footer" . }}